.table {
  width: 100%; /* Full width to align with container1 */
  table-layout: fixed; /* This helps with consistent column widths */
}
.tableContainer {
  width: 1100px;
  height: 60px;
  margin: auto;
}
.employeeName {
  width: 280px; /* Matching width with header's first item (if needed adjust to match exactly) */
}

.position {
  width: 130px; /* Match .second__item */
}

.location {
  width: 200px; /* Match .third__item */
}

.hours {
  width: 140px; /* Match .fourth__item */
}

.actions {
  width: 140px; /* Assuming actions column needs to match the last item in header */
}
