.container {
  width: 1100px;
  height: 60px;
  background-color: #0980fe;
  color: white;
  margin: auto;
  margin-top: 50px;
    border-radius: 5px;

}

.items__container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.first__label {
  display: flex;
/* justify-content: center; */
align-items: center;
color: white;
}
.selector {
  width: 25px; /* Make the radio button larger */
  height: 25px; /* Make the radio button larger */
  -webkit-appearance: none; /* Remove default styles */
  appearance: none; /* Remove default styles */
  border: 2px solid white; /* Custom border */
  border-radius: 6px; /* Rounded corners */
  outline: none; /* Remove focus outline */
  cursor: pointer;
  vertical-align: middle;
}
.employee {
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
  cursor: pointer;
}
.second__item {
  font-weight: bold;
  font-size: 18px;
  margin-left: 185px;
}
.third__item {
  font-weight: bold;
  font-size: 18px;
  margin-left: 140px;
}
.fourth__item {
  font-weight: bold;
  font-size: 18px;
  margin-left: 140px;
}
